[Unit]
Description=RADIUS proxy frontend for preauth+hostapd
After=hostapd.service

[Service]
Type=simple
ExecStart=/usr/bin/radiucal

[Install]
WantedBy=multi-user.target
