[Unit]
Description=radiucal network configuration updates application

[Service]
Type=oneshot
WorkingDirectory=/var/lib/radiucal/netconf
ExecStart=/usr/bin/make
KillMode=none
