[Unit]
Description=RADIUS proxy frontend for preauth+hostapd
After=hostapd.service

[Service]
Type=simple
ExecStart=/usr/bin/radiucal --config /etc/radiucal/radiucal.%i.conf --instance %i
Restart=always

[Install]
WantedBy=multi-user.target
