[Unit]
Description=radiucal network configuration updates application

[Service]
Type=oneshot
WorkingDirectory=/var/lib/radiucal/netconf
ExecStart=make
KillMode=none
